<!DOCTYPE html>
<html>
    <head>
        <title>NU9(Spk-RB)</title>
        <script type="text/javascript" src="../static/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="../static/socket.io.slim.js"></script>
        <script type="text/javascript" src="../static/echarts.simple.min.js"></script>
    </head>
    <body>
        <!-- Echarts 的 Dom -->
        <div id="main" style="height: 500px;border: 1px solid #ccc;padding: 10px;"></div>
        <script type="text/javascript">
            $(function(){
                postChart();
            });
            $(document).ready(function(){
                namespace = '/show';
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
                // socket.on('connect', function() {
                //     socket.emit('my event', {data: 'I\'m connected!'});
                // });
                socket.on("server_response", function(msg) {
                function postChart() {
                    var myChart = echarts.init(document.getElementById('main'));
                    var option = {
                        tooltip: {
                            show: true
                        },
                        title: {
                            text: "NU9(Spk-RB)数据可视化"
                        },
                        xAxis: {
                            type: "frequency",
                            data: [] //TODO:填入X轴的数据
                        },
                        yAxis: {
                            type: "value"
                        },
                        series: msg.data.series
                    };
                    myChart.setOption(option);
                    }
                });
            });    
        </script>
    </body>
</html>